<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Grouped by ' + ${filter}"></title>
</head>
<body>
<h1>Grouped operations:</h1>
<table>
    <tr>
        <td><h3 th:text="${filter}"></h3></td>
        <td><h3>Money</h3></td>
        <td><h3>Average money</h3></td>
    </tr>
    <tr th:each="gb : ${GB}">
        <td th:text="${gb[0]}"></td>
        <td th:text="${gb[1]}"></td>
        <td th:text="${gb[2]}"></td>
    </tr>
</table>
<br>
<p><a href="/operations">Back to operations and statistics</a></p>
<p><a href="/admin">Back to admin page</a></p>
<p><a href="/">Log out</a></p>
</body>
</html>